*{
    padding:0;
    margin:0;
}

.add-movie-component{
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-movie-form{
    display:flex;
    width:620px;
    height:620px;
    background-color:white;
    border-radius:10px;
    margin:0 auto;
    margin-top:40px;
    box-shadow: 10px -10px  #673AB7;
    -moz-box-shadow: 10px -10px  #673AB7;
    -webkit-box-shadow: 10px -10px  #673AB7;
    -o-box-shadow: 10px -10px  #673AB7;
}

.add-movie-form form{
    width:300px;
    margin:0 auto;
}

.add-movie-form form label{
    display:flex;
    margin-top:20px;
    font-size:18px;
    color:#070702d3;
}

.add-movie-form form input{
    width:100%;
    padding: 7px;
    border:none;
    border:1px solid #070702d3;
    border-radius:6px;
    outline:none;
}

.add-movie-form input[type="button"]{
    width:300px;
    height:35px;
    margin-top:60px;
    border:none;
    background-color:#673AB7 ;
    font-size:18px;
    color:white;
}

h4{
    text-align: center;
}