*{
    padding:0;
    margin:0;
}

.footer{
    width:100vw;
    height:200px;
    background-color:black;
    position:absolute;
}

.footer h1{
    color:white;
    text-align:center;
    position:relative;
    margin-top:70px;
}