* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
  }

  .movie-schedule .card{
    background-color: #393E46;
    color: white;
    margin-right:10px;
    width:450px;
    height:300px;
    float:left;
    border-radius:20px;
    font-family: Garamond, serif;
    /* font-family: 'Courier New', monospace; */
  }